body {
    background-color: darkcyan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    padding-left : 5%;
    padding-right : 5%;
}
.header {
    text-align: center;
    left: 50%;
    background: bisque;
    position: sticky;

}
.tableau {
    border: bisque;
    text-align: center;
}

.trivia {

}
.true-rng {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}